# Môi trường ảo Python
venv/
*.venv
env/
.env

# Files của macOS
.DS_Store

# Thư mục cache của Python
__pycache__/
*.py[cod]

# Bỏ qua TẤT CẢ CÁC FILE VÀ THƯ MỤC CON bên trong data/raw/
/data/raw/*

# NHƯNG đừng bỏ qua thư mục git-submodule
!/data/raw/git/sc-data/
!/data/raw/git/cips/

/data/processed/*

logs/

tmp/

# File cấu hình local (nếu có)
config.local.ini

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json