# Bỏ qua TẤT CẢ CÁC FILE VÀ THƯ MỤC CON bên trong data/raw/
/data/raw/*
!/data/raw/git/
!/data/raw/git/sc-data/
!/data/raw/git/cips/
/data/raw/git/sc-data/*
/data/raw/git/cips/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

logs/
tmp/
/data/processed/*
# Môi trường ảo Python
venv/
*.venv
env/
.env
# Thư mục cache của Python
__pycache__/
*.py[cod]
# Files của macOS
.DS_Store


# File cấu hình local (nếu có)
config.local.ini

