# Path: src/config/updater_config.yaml

git:
  git-submodule:
    cips: https://github.com/thesunshade/CIPS
    suttacentral-data: https://github.com/suttacentral/sc-data
    post:
      cips-json:
        path: data/raw/git/cips/src/data/general-index.csv
        output: 
          - topic-index: data/raw/git/cips_topic.json
          - sutta-index: data/raw/git/cips_sutta.json
      html_text:
        path: data/raw/git/suttacentral-data/html_text
        output: data/raw/git/sc_html_text_authors.json
        ignore: [zz]
      bilara:
        path: data/raw/git/suttacentral-data/sc_bilara_data
        folders: [root, html, reference, variant, translation, comment]
        groups:
          - name: [name]
          - blurb: [blurb]
          - site: [site]
        output: 
          site: data/raw/git/post_processed/bilara/sc_site.json
          blurb: data/raw/git/post_processed/bilara/sc_blurbs.json
          name: data/raw/git/post_processed/bilara/sc_names.json
          sutta: data/raw/git/post_processed/bilara/sc_bilara.json
      parallels:
        path: data/raw/git/suttacentral-data/relationship/parallels.json
        replacements:
          - ['"mn75.1"', '"mn75#1"']
        output:
          category: data/raw/git/sc_parallel_category.json
          segment: data/raw/git/sc_parallel_segment.json
          flat_segment: data/raw/git/sc_parallel_flat_segment.json
          book: data/raw/git/sc_parallel_book.json
release:
  git-release:
    dpd:
      link: https://github.com/digitalpalidictionary/dpd-db
      version: latest
      assets: 
        - name: dpd-kindle.epub
          extract: true
          extract_to_folder: true
        - dpd.db.tar.bz2
    post:
      task-place-holder-1:
      task-place-holder-2:
buddha-words:
  google-drive:
    zip: https://drive.google.com/drive/folders/17DZmO3PaN_bXPyDuQGRkX4dcYQ0tXhe8
    version-date: '(?:bw)(\d+)\.(?:7z|zip)$'
    extract: "bw"
    post:
      task-place-holder-1:
      task-place-holder-2:
suttaplex:
  api:
    base_url: "https://suttacentral.net/api/suttaplex/"
    # --- ĐÃ CẬP NHẬT SANG ĐỊNH DẠNG MỘT DÒNG ---
    groups:
      sutta: [sutta]
      vinaya: [vinaya]
      abhidhamma: [abhidhamma]
      update: [an, arv, avs, bv, cnd, cp, d, da-ot, da, dhp, divy, dn, ea-2, ea-ot, ea, g2dhp, g3dhp, gdhp, gf, iti, ja, kf, kp, lal, lzh-art, lzh-dharani, lzh-ja, lzh-nbs, lzh-ssnp, lzh-svk, ma-ot, ma, mil, mkv, mn, mnd, ne, pdhp, pe, pf, ps, pv, sa-2, sa-3, sa-ot, sa, sf, sht, sn, snp, t210, t211, t212, t213, tf, tha-ap, thag, thi-ap, thig, ud, uf, up, uv, uvs, vv, uv-kg, ybs, lzh-dg-bi-kam, lzh-dg-bi-pm, lzh-dg-bi-vb, lzh-dg-bu-kam-2, lzh-dg-bu-kam, lzh-dg-bu-pm-2, lzh-dg-bu-pm, lzh-dg-bu-vb, lzh-dg-kd, lzh-dg-ve, lzh-dg-vs, lzh-ka-bu-pm, lzh-mg-asc, lzh-mg-bi-pm, lzh-mg-bi-pn, lzh-mg-bi-vb, lzh-mg-bu-pm, lzh-mg-bu-pn, lzh-mg-bu-vb, lzh-mg-spp, lzh-mi-bi-pm, lzh-mi-bi-vb, lzh-mi-bu-kam, lzh-mi-bu-pm, lzh-mi-bu-vb, lzh-mi-kd, lzh-mi-vs, lzh-mu-bi-pm, lzh-mu-bi-vb, lzh-mu-bu-kam, lzh-mu-bu-pm, lzh-mu-bu-vb, lzh-mu-kd, lzh-mu-khv, lzh-sarv-ba, lzh-sarv-bi-pm-dh, lzh-sarv-bi-pm, lzh-sarv-bi-vb, lzh-sarv-bu-kam-2, lzh-sarv-bu-kam, lzh-sarv-bu-pm-2, lzh-sarv-bu-pm, lzh-sarv-bu-vb, lzh-sarv-kd, lzh-sarv-mt, lzh-sarv-upp, lzh-sarv-ve, lzh-sarv-vi-misc, lzh-upp-bu, om, ot, pgd-dg-bu-pm, pgd-pm-bf13, pli-tv-bi-pm, pli-tv-bi-vb, pli-tv-bu-pm, pli-tv-bu-vb, pli-tv-kd, pli-tv-pvr, sammitiya, san-bu-pm-qizil, san-lo-asc, san-lo-bi-nidana, san-lo-bi-pn, san-lo-bi-vb, san-lo-bu-pm, san-lo-bu-pn, san-lo-mvu, san-mg-bu-pm, san-mu-bu-kam, san-mu-bu-pm-gbm2, san-mu-bu-pm-gbm3, san-mu-kd, san-mu-mpt-bu-pm, san-sarv-bi-kam, san-sarv-bi-pm-tf3215, san-sarv-bi-pm-tf44, san-sarv-bi-vb, san-sarv-bu-kam, san-sarv-bu-pm-finot, san-sarv-bu-pm-tf11, san-sarv-sm, xct-mu-bi-pm, xct-mu-bi-vb, xct-mu-bu-kam, xct-mu-bu-pm, xct-mu-bu-vb, xct-mu-kd, xct-mu-khv, xct-mu-utg-2, xct-mu-utg, dk, ds, dt, dy, jp, kv, lzh-dk, mvs, patthana, pk, pp, pr, sab, sg, vb, vk, ya]
    post:
      suttaplex-json:
        priority: [update]
        super-tree: [sutta, vinaya, abhidhamma]
        output: data/raw/suttaplex/suttaplex.json
  
# dhammatalks:
#   crawl:
#     - bmc: https://www.dhammatalks.org/vinaya/bmc/Section0000.html
#       root: https://www.dhammatalks.org/vinaya/bmc
#     - suttas: https://www.dhammatalks.org/suttas/
#       root: https://www.dhammatalks.org/suttas
